solution/Workflows/AppendHistory-282A85D8-9557-F111-A825-7C1E5235B19F.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "omj_sharedonedriveforbusiness_2f22d"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "FolderBot Root Folder (omj_folderbot_root)": {
          "defaultValue": "FolderBot",
          "type": "String",
          "metadata": {
            "schemaName": "omj_folderbot_root",
            "description": "FolderBot Root Folder"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "description": "Session folder name — format YYYYMMDD-ShortTitle",
                  "title": "session_id",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "user_content": {
                  "description": "User message text",
                  "title": "user_content",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "assistant_content": {
                  "description": "Assistant response text",
                  "title": "assistant_content",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "session_id",
                "user_content"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "title": "success",
                  "description": "whethere the text has been appended succesfully to history",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "success": "true"
            }
          },
          "runAfter": {
            "Update_file": [
              "Succeeded"
            ]
          }
        },
        "Get_file_content_using_path": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "@{parameters('FolderBot Root Folder (omj_folderbot_root)')}/sessions/@{triggerBody()?['session_id']}/history.jsonl",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "GetFileContentByPath",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          }
        },
        "Compose:_userline": {
          "type": "Compose",
          "inputs": {
            "ts": "@{utcNow()}",
            "role": "user",
            "content": "@{triggerBody()?['user_content']}"
          },
          "runAfter": {
            "Get_file_content_using_path": [
              "Succeeded"
            ]
          }
        },
        "Condition:_assistant_message_empty_": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()?['assistant_content']",
                  "''"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['assistant_content']",
                  null
                ]
              }
            ]
          },
          "actions": {},
          "else": {
            "actions": {
              "Compose:_assistantline": {
                "type": "Compose",
                "inputs": {
                  "ts": "@{utcNow()}",
                  "role": "assistant",
                  "content": "@{triggerBody()?['assistant_content']}"
                }
              },
              "Set_variable": {
                "type": "SetVariable",
                "inputs": {
                  "name": "assistantLine",
                  "value": "@string(outputs('Compose:_assistantline'))"
                },
                "runAfter": {
                  "Compose:_assistantline": [
                    "Succeeded"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "Compose:_userline": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "assistantLine",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "Compose_1": {
          "type": "Compose",
          "inputs": "@{body('Get_file_content_using_path')}@{string(outputs('Compose:_userline'))}@{if(not(empty(variables('assistantLine'))),concat(decodeUriComponent('%0A'),variables('assistantLine')),'')}\n",
          "runAfter": {
            "Condition:_assistant_message_empty_": [
              "Succeeded"
            ]
          }
        },
        "Get_file_metadata_using_path": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "@{parameters('FolderBot Root Folder (omj_folderbot_root)')}/sessions/@{triggerBody()?['session_id']}/history.jsonl"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "GetFileMetadataByPath",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Compose_1": [
              "Succeeded"
            ]
          }
        },
        "Update_file": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@outputs('Get_file_metadata_using_path')?['body/Id']",
              "body": "@outputs('Compose_1')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "UpdateFile",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Get_file_metadata_using_path": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}