solution/Workflows/DeleteFile-A352C4B4-9457-F111-A825-7C1E5235B19F.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "omj_sharedonedriveforbusiness_2f22d"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "FolderBot Root Folder (omj_folderbot_root)": {
          "defaultValue": "FolderBot",
          "type": "String",
          "metadata": {
            "schemaName": "omj_folderbot_root",
            "description": "FolderBot Root Folder"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "description": "Session folder name — format YYYYMMDD-ShortTitle",
                  "title": "session_id",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "file_path": {
                  "description": "Session-relative path of the file to be deleted e.g. memory.md or outputs/report.txt",
                  "title": "file_path",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "session_id",
                "file_path"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_file_metadata_using_path": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "@{parameters('FolderBot Root Folder (omj_folderbot_root)')}/sessions/@{triggerBody()?['session_id']}/@{triggerBody()?['file_path']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "GetFileMetadataByPath",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {}
        },
        "Delete_file": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@outputs('Get_file_metadata_using_path')?['body/Id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "DeleteFile",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Get_file_metadata_using_path": [
              "Succeeded"
            ]
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "title": "success",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "success": "true"
            }
          },
          "runAfter": {
            "Delete_file": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}