solution/Workflows/ListSessionFiles-67269D82-F255-F111-A825-7C1E5235B19F.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness-1": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "omj_sharedonedriveforbusiness_2f22d"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "FolderBot Root Folder (omj_folderbot_root)": {
          "defaultValue": "FolderBot",
          "type": "String",
          "metadata": {
            "schemaName": "omj_folderbot_root",
            "description": "FolderBot Root Folder"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "description": "Session folder name — format YYYYMMDD-ShortTitle",
                  "title": "session_id",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "subfolder": {
                  "description": "Relative subfolder path within the session, e.g. outputs. Type a single dot (.) as argument to list files in the root of the session.",
                  "title": "subfolder",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "session_id"
              ]
            }
          }
        }
      },
      "actions": {
        "Condition:_is_subfolder_empty": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()?['subfolder']",
                  "''"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['subfolder']",
                  null
                ]
              }
            ]
          },
          "actions": {
            "Set_variable": {
              "type": "SetVariable",
              "inputs": {
                "name": "folder_path",
                "value": "@{parameters('FolderBot Root Folder (omj_folderbot_root)')}/sessions/@{triggerBody()?['session_id']}"
              }
            }
          },
          "else": {
            "actions": {
              "Set_variable_1": {
                "type": "SetVariable",
                "inputs": {
                  "name": "folder_path",
                  "value": "@{parameters('FolderBot Root Folder (omj_folderbot_root)')}/sessions/@{triggerBody()?['session_id']}/@{triggerBody()?['subfolder']}"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "folder_path",
                "type": "string",
                "value": "@string('')"
              }
            ]
          },
          "runAfter": {}
        },
        "List_files_in_folder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@outputs('Get_file_metadata_using_path')?['body/Id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "ListFolderV2",
              "connectionName": "shared_onedriveforbusiness-1"
            }
          },
          "runAfter": {
            "Get_file_metadata_using_path": [
              "Succeeded"
            ]
          }
        },
        "Get_file_metadata_using_path": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "path": "@variables('folder_path')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "GetFileMetadataByPath",
              "connectionName": "shared_onedriveforbusiness-1"
            }
          },
          "runAfter": {
            "Condition:_is_subfolder_empty": [
              "Succeeded"
            ]
          }
        },
        "Select": {
          "type": "Select",
          "inputs": {
            "from": "@outputs('List_files_in_folder')?['body/value']",
            "select": {
              "name": "@item()?['Name']",
              "path": "@item()?['Path']",
              "size": "@item()?['Size']",
              "last_modified": "@item()?['LastModifiedDateTime']",
              "is_folder": "@item()?['IsFolder']"
            }
          },
          "runAfter": {
            "List_files_in_folder": [
              "Succeeded"
            ]
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "title": "success",
                  "description": "whether the session filies were listed successfully",
                  "type": "boolean",
                  "x-ms-content-hint": "BOOLEAN",
                  "x-ms-dynamically-added": true
                },
                "files": {
                  "title": "files",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "success": true,
              "files": "@{body('Select')}"
            }
          },
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}